Debug/
Release/
ipch/

*.sdf

# 高级编辑器
.idea
.vscode
.vs

# svn仓库
.svn

# 缓存文件
CMakeCache.txt
CMakeLists.txt.user.*
compile_commands.json
FFPlay.cbp
cmake_install.cmake
Makefile
*.cpp_parameters
CMakeFiles